/* 重置样式 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:"方圆卡通";
    src:url("../typeface/方圆卡通.ttf");
    font-family: "云游体";
    src: url("../typeface/云游体.ttf");
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    overflow: hidden;
    width: 100%;
    font-family:"方圆卡通";
}

.fl {
    float: left;
}

.fr {
    float: right;
}

#outline {
    height: 90%;
    position: absolute;
    top: 0;
    width: 100%;
}


/* 布局样式 */

#back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/wins_img/back.jpg") no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}

.shade1 {
    width: 120%;
    height: 120%;
    background: #b89253;
    opacity: 0.7;
    position: absolute;
    left: -70%;
    top: -70%;
    transform: rotateZ(45deg);
    z-index: 2;
}

.shade2 {
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #444;
    opacity: 0.8;
    position: absolute;
}

.shade3 {
    z-index: 2;
    background: #b89253;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    opacity: 0.7;
    transform: rotateZ(-45deg);
}

#header {
    height: 45px;
    background: #111;
    position: relative;
    z-index: 100;
}

.logo {
    margin-left: 40px;
    display: inline-block;
    background: url("../images/homePage_img/logo.png") no-repeat;
    background-size: 43px 43px;
    width: 43px;
    height: 43px;
}

.headerUl {
    display: inline-block;
    height: 45px;
    margin: 0 40px;
}

.headerUl li {
    height: 45px;
    line-height: 45px;
    float: left;
    padding: 0 20px;
}

.headerUl li a {
    color: #fff;
    font-size: 16px;
}

.headerUl li:nth-of-type(3) a {
    color: #00caab;
}

.headerUl li:hover a {
    color: #00caab;
}

.menu {
    display: none;
}

@media(max-width:680px) {
    .logo {
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
    }
    .headerUl {
        position: absolute;
        top: 45px;
        display: block;
        background: #222831;
        margin: 0;
        width: 100%;
        height: auto;
        padding: 15px 0;
        overflow: hidden;
    }
    .headerUl li {
        width: 100%;
        height: 35px;
        line-height: 35px;
        padding: 0 40px;
    }
    .menu {
        display: block;
        height: 35px;
        width: 35px;
        background: url("../images/homePage_img/menu1.png") no-repeat;
        background-size: 35px 35px;
        position: absolute;
        top: 5px;
        right: 40px;
    }
}


/* content部分 */

#content {
    position: absolute;
    bottom: 1.3rem;
    width: 5rem;
    left: 2.5rem;
    height: 2rem;
}

.contentUl .fl {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
}

.contentUl .fr {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
}

.contentUl li {
    opacity: 0;
    position: absolute;
    color: #fff;
    cursor: pointer;
    display: none;
}

.contentUl li strong {
    padding: 0.1rem 0.2rem;
    font-size: 0.22rem;
}

.contentUl li p {
    padding: 0.2rem 0.1rem;
    font-size: 0.16rem;
    text-align: center;
    line-height: 0.24rem;
}

.contentUl li p span {
    color: #e1f5f2;
    font-size: 0.2rem;
    display: inline-block;
    line-height: 0.3rem;
}

.contentUl li img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
}


/* footer部分 */

#footer {
    position: absolute;
    bottom: 0.12rem;
    z-index: 10;
}

.footerUl {
    position: relative;
    left: 3rem;
    top: 0;
    height: 0.05rem;
}

.footerUl li {
    position: relative;
    float: left;
    width: 1.8rem;
}

.inRan {
    width: 0.48rem;
    height: 0.48rem;
    border-radius: 50%;
    background: #222;
    border: #fff 0.03rem solid;
    color: #fff;
    line-height: 0.45rem;
    text-align: center;
    font-size: 0.14rem;
    cursor: pointer;
}

.footerUl li p {
    z-index: 10;
    position: absolute;
    color: #fff;
    font-size: 0.12rem;
    width: 1rem;
    top: 0.75rem;
    left: -0.8rem;
    transform: rotateZ(-45deg);
    text-align: right;
}

.footerUl .active .inRan {
    background: red;
    border: none;
    line-height: 0.55rem;
    font-size: 0.18rem;
}

.footerUl .active p {
    transform: none;
    text-align: center;
    font-size: 0.16rem;
}

#shaft {
    width: 100%;
    height: 0.05rem;
    background: #062121;
    position: absolute;
    bottom: 0.5rem;
    opacity: 0.5;
    z-index: 0;
}